<div id="kabobs">
	<div class="container">
		<img src="http://i.imgur.com/ZGvE8sB.jpg" width="300px" height="300px" alt="kabobs.jpg">
	</div>
</div>

<div id="emailquestions">
	<div class="container">
		<h2> For any questions email<br> <p>
		<a href="mailto:foodbylags@gmail.com" target="_top">foodbylags@gmail.com</a>
		</p> </h2>
	</div>
</div>

<div id="commentbox">
	<div class="box">
		<h3> Any comments or reviews?<br> Please submit below. </h3>

			<%= form_tag "/contacts", method: :post do %>
			<br>
				<div id="nameform">
					Name: <input type="text" name="name">
				</div>
				<br>
				<br>
				<textarea class="longInput" name="text" placeholder="Write a message" cols="60" rows="10"></textarea>

				<div id="commentsubmitbutton">
					<input type="submit" value="Submit">
				</div>

			<% end %>

	</div>
</div>

<% @approved_comments.each do |item| %>

	<div class="approvedcomments">
		<div class="chatbox">


			<div class="chatlogs">
				<div class="chat">

					<p class="chat-message"><%= item.name %>: <%= item.text %></p>
					<% item.texts.each do |text| %>
						<% if text.approved %>
							<p> <span> <%=text.name %>: </span> <%= text.text %></p>
						<% end %>
					<% end %>
				</div>

			</div>

			<div class="chat-forum">
				<div id="containerforname">
					Name: <input type="text" v-model="nameAdd">
				</div>			
				<textarea v-model="commentAdd" placeholder="Write a message" cols="45" rows="6"></textarea>
				<button v-on:click="sendComment(<%= item.id %>)">Send</button>
			</div>



		</div>
	</div>

<% end %>








<div id="logout_buttons">
	<% if current_user %>
		<% if current_user.admin %>
			<%= button_to "Logout", "/signout", method: :get %>

	
		<% end %>	
	<% end %>
</div>
<% if !current_user %>
		<div id="adminsignin">
			<%= button_to "admin signin", "/sessions/admin_signin", method: :get %>

		</div>
<% end %>