<div id="kabobs">
	<div class="container">
		<img src="https://i.imgur.com/ZGvE8sB.jpg" width="400px" height="500px" alt="kabobs.jpg">
	</div>
</div>

<div id="emailquestions">
	<div class="container">
		<h2> For any questions email<br> <p>
		<a href="mailto:foodbylags@gmail.com" target="_top">foodbylags@gmail.com</a>
		</p> </h2>
	</div>
</div>

<div id="commentbox">
	<div class="box">
		<h3> Any comments or reviews?<br> Please submit below. </h3>

			<%= form_tag "http://www.foodbylags.com/contacts", method: :post do %>
			<br>
				<div id="nameform">
					<input type="text" name="name" placeholder="Your name">
				</div>
				<br>
				<br>
				<input class="" type="text" name="text" placeholder="Write a message" cols="60" rows="10"></textarea>

				<div id="commentsubmitbutton">
					<input type="submit" class='btn btn-primary' value="Submit">
				</div>

			<% end %>

	</div>
</div>


<% @approved_comments.each do |item| %>

	<div class="jumbotron" style="width: 50%; margin: auto; margin-bottom: 30px; margin-top: 30px;">
	    <h1 class="lead"><b id="firstcomment"><%= item.name %>:</b> <%= item.text %>

	    <div style="max-height: 260px; overflow: scroll;">
		    <% item.texts.each do |text| %>
					<% if text.approved %>
						<hr class="my-2">
				    <p style="text-align: left"><b><%=text.name %>:</b> <%= text.text %>
				    </p>
					<% end %>
				<% end %>
			</div>
			<hr class="my-2">
			<div style="width: 50%; margin: left; margin-top: 20px; margin-bottom: 20px;">
				<h4 id="comment_here" style="text-decoration: bold; padding-top: 20px; padding-bottom: 20px;"></h4>
				<%= form_tag "/texts/add_text_to_comment", method: :post do %>
						<input type="text" name="name" placeholder="Your name">
						<br>
						<input type="hidden" name="comment_id" value="<%= item.id %>">
						<br>
					<input type="text" name="text" placeholder="Your response" cols="45" rows="6" style="margin-bottom: 20px;"></input>
					<div id="comment_button">
						<input class='btn btn-primary' style="margin-top: -3px;" type="submit" value="Send"></input>
					</div>
				<% end %>
			</div>
	</div>


	

<% end %>








<div id="logout_buttons">
	<% if current_user %>
		<% if current_user.admin %>
			<%= button_to "Logout", "/signout", method: :get %>

	
		<% end %>	
	<% end %>
</div>
<% if !current_user %>
		<div id="adminsignin">
			<%= button_to "admin signin", "/sessions/admin_signin", method: :get %>

		</div>
<% end %>
