<h1> Your Final Order </h1>
<div class="container">
    User Id: <%= @order.user_id %>
    <br>
    Subtotal: $<%= @order.subtotal %>
    <br>
    Tax: <%= @order.tax %>
    <br>
    Total: <%= @order.total %>
    <br>
    <br>

    <%= button_to "Go To Payment", "/charges/new", method: :get %>


</div>

<br>
<div id="logout_buttons">
  <% if current_user %>
    <% if current_user.admin %>
      <%= button_to "Logout", "/signout", method: :get %>

  
    <% end %> 
  <% end %>
</div>