<p> Do you approve of this comment? </p>

<%= @text %>
<br>


					<a href= "http://foodbylags.com/contacts/approved/<%=@id%>">Yes</a>
					<a href= "http://foodbylags.com/contacts">No</a>
					<a href= "http://foodbylags.com/contacts/comment_delete/<%=@id%>">Delete</a>

				<!-- 	<a href= "http://foodbylags.com/contacts/approved/<%=@id%>">Yes</a>
					<a href= "http://foodbylags.com/contacts">No</a>
					<a href= "http://foodbylags.com/contacts/comment_delete/<%=@id%>">Delete</a> -->