<p> Do you approve of this comment? </p>


Name: <%= @comment.name %>
<br>
Comment: <%= @comment.text %>

					<a href= "http://www.foodbylags.com/contacts/approved/<%=@id%>">Yes</a>
					<a href= "http://www.foodbylags.com/contacts">No</a>
					<a href= "http://www.foodbylags.com/contacts/comment_delete/<%=@id%>">Delete</a>

				<!-- 	<a href= "http://foodbylags.com/contacts/approved/<%=@id%>">Yes</a>
					<a href= "http://foodbylags.com/contacts">No</a>
					<a href= "http://foodbylags.com/contacts/comment_delete/<%=@id%>">Delete</a> -->
