<p> Do you approve of this comment? </p>
<%= @text.name %>:
<%= @text_text %>
<br>


					<a href= "http://localhost:3000/contacts/text_approved/<%=@id%>">Yes</a>
					<a href= "http://localhost:3000/contacts">No</a>
					<a href= "http://localhost:3000/contacts/text_delete/<%=@id%>">Delete</a>

				<!-- 	<a href= "http://foodbylags.com/contacts/approved/<%=@id%>">Yes</a>
					<a href= "http://foodbylags.com/contacts">No</a>
					<a href= "http://foodbylags.com/contacts/comment_delete/<%=@id%>">Delete</a> -->