<p> Do you approve of this comment? </p>
Name: <%= @new_text.name %>
<br>
Text: <%= @new_text.text %>
<br>

					<a href= "http://www.foodbylags.com/contacts/text_approved/<%=@id%>">Yes</a>
					<a href= "http://www.foodbylags.com/contacts">No</a>
					<a href= "http://www.foodbylags.com/contacts/text_delete/<%=@id%>">Delete</a>

				<!-- 	<a href= "http://foodbylags.com/contacts/approved/<%=@id%>">Yes</a>
					<a href= "http://foodbylags.com/contacts">No</a>
					<a href= "http://foodbylags.com/contacts/comment_delete/<%=@id%>">Delete</a> -->
