

<h1> Products Available </h1>

<% @products.each do |item| %>
	Item Name: <%= item.name %>
	<br>
	Item Type: <%= item.product_type %>
	<br>
	Item Cost: $<%= item.cost %>
	<br>
	Item Stock: <%= item.stock %>
	<br>
			<div id="container">	
				<% if item.stock > 0 %>
					<%= form_tag "/carts", method: :post do %>
						<input type="hidden" name="product_id" value="<%= item.id %>">
						Quantity <input type="text" name="quantity">
						<br>
						<input type="submit" value="Add To Cart">
						<br>
					<% end %>
				<% end %>
			</div>
<% end %>










<% if @cart %>
		<h2> Here is your cart </h2>
		<% @cart.each do |item| %>
			<%= item.product.name %>
			<br>
			$<%= item.product.cost %> x <%= item.quantity %>
			<% @total += item.product.cost * item.quantity %>
			<br>
			<%= button_to "Remove From Cart", "/carts/#{item.id}", method: :patch %>
		<% end %>
		Total(without tax): $<%= @total %>
		<br>
		<br>

		<button class="buttons" v-if="this.buttons[0].visible === false" v-on:click="showButton">Checkout</button>
		


		<% if !@cart.empty? %>
			<div id="checkout_vue" v-if="this.buttons[0].visible === true">
				<h3> Please Fill Out Form </h3> 
				<%= form_tag "/orders", method: :post do %>
					<div>
					First Name: <input type="text" name="first_name">
					</div>
					<br>
					<div>
					Last Name: <input type="text" name="last_name">
					</div>
					<br>
					<div>
					Email: <input type="text" name="email">
					</div>
					<br>
					<div>
					Address 1: <input type="text" name="address_one">
					</div>
					<br>
					<div>
					Address 2: <input type="text" name="address_two">
					</div>
					<br>
					<input type="submit" value="Checkout">
					<br>
				<% end %>
			</div>
		<% end %>
	

<% end %>





<% if current_user %>
	<% if current_user.admin %>
		<h2> New Product Admin Only </h2> 
		<%= form_tag "/products/new", method: :post do %>
			<h4> Name: <input type="text" name="name"> </h4>
			<br>
			<h4> Product Type: <input type="text" name="product_type"> </h4>
			<br>
			<h4> Stock: <input type="text" name="stock"> </h4>
			<br>
			<h4> Cost: <input type="text" name="cost"> </h4>
			<br>
			<input type="submit" name="Enter">
		<% end %>
	<% end %>
<% end %>
<% if current_user %>
	<% if !current_user.admin %>
		<div id="admin_signin">
			<%= button_to "admin signin", "/sessions/admin_signin", method: :get %>
		</div>
	<% end %>
	<div id="logout_buttons">
		<% if current_user %>
			<% if current_user.admin %>
				<%= button_to "Logout", "/signout", method: :get %>

	
			<% end %>	
		<% end %>
	</div>
<% end %>
<% if !current_user %>
		<div id="adminsignin">
			<%= button_to "admin signin", "/sessions/admin_signin", method: :get %>

		</div>
<% end %>