<%= button_to "User Page", "/users", method: :get %>
<br>
<% if session[:id] %>
	<%= button_to "Logout", "/signout", method: :get %>

<% end %>
<br>


<h1> Products Available </h1>

<% @products.each do |item| %>
	Item Name: <%= item.name %>
	<br>
	Item Type: <%= item.product_type %>
	<br>
	Item Cost: $<%= item.cost %>
	<br>
	Item Stock: <%= item.stock %>
	<br>
<% end %> 





<% if current_user %>
	<h3> Buy Product Here </h3>
	


	<% @products.each do |item| %>
		Product Name: <%= item.name %>
		<br>
		Price: $<%= item.cost %>
		<br>
		Stock: <%= item.stock %>
		<br>
		<% if item.stock == 0 %>
			In/Out of Stock: Out of Stock
		<% elsif item.stock > 0 %>
			In/Out of Stock: In stock!
		<% end %>
		<%= form_tag "/carts", method: :post do %>
			<input type="hidden" name="product_id" value="<%= item.id %>">
			<br>
			<% if item.stock > 0 %>
				<input type="hidden" name="quantity" value=1>
			<input type="submit" value="Add To Cart">
			<% elsif item.stock == 0 %>
			<br>
			<% end %>
		<% end %>


	<% end %>
<% end %>








<% if @cart %>
		<h2> Here is your cart </h2>
		<% @cart.each do |item| %>
			<%= item.product.name %>
			<br>
			$<%= item.product.cost %>
			<% @total += item.product.cost %>
			<br>
			<%= button_to "Remove From Cart", "/carts/#{item.id}", method: :patch %>
		<% end %>
		Total(without tax): $<%= @total %>
		<br>
		<br>
		<%= button_to "Finish Order", "/orders", method: :post %>
		<br>
<% end %>






<% if current_user && current_user.admin %>
	<h2> New Product Admin Only </h2> 
	<%= form_tag "/products/new", method: :post do %>
		<h4> Name: <input type="text" name="name"> </h4>
		<br>
		<h4> Product Type: <input type="text" name="product_type"> </h4>
		<br>
		<h4> Stock: <input type="text" name="stock"> </h4>
		<br>
		<h4> Cost: <input type="text" name="cost"> </h4>
		<br>
		<input type="submit" name="Enter">
	<% end %>
<% end %>


<% if !current_user %>
	<h1> Login Here</h1>
	<div class="log">
	<%= form_tag "/users/signin", method: :post do %>
		<div>
		Email: <input type="text" name="email">
		</div>
	<br>
		<div>
		Password: <input type="password" name="password">
		</div>
	<br>
		<div class="submit_button">
		<input type="submit" value="Login">
		<br>
		</div>
	<% end %>
		<%= button_to "Home", "/users", method: :get %>
	</div>
<% end %>

