<nav class="floating-menu" v-cloak v-if="this.buttons[1].visible || this.bag.length > 0 ">
      <h3> Your Cart <!-- <i class="icon-large icon-fast-food icon-white"></i> --> </h3>
      	<div v-for="item in bag">
       		<h4> {{item.newCart.name}} </h4>
       		<h4> ${{item.newCart.cost}} </h4>


      		<div v-on:click="removeFromCart(item)">Remove</div>
      		<!-- <div v-on:click={"'removeFromCart(' + {item.id} + ')'"}>Remove</div> -->




      	</div>
       	<h4> Total(before tax)</h4>
      	<h4> ${{total}} </h4>
      		<div v-on:click="checkoutOrder"><h3 id="checkout-button"> Checkout </h3>
      		</div>
      			<div id="checkoutform" v-if="this.buttons[2].visible">
      			  <p>First Name:<input type="text" v-model="firstNameBox"></p>
      			  <p>Last Name:<input type="text" v-model="lastNameBox"></p>
      			  <p>Email:<input type="text" v-model="emailBox"></p>
      			  <p>Address 1:<input type="text" v-model="addressOneBox" placeholder="1234 Cherry Rd, Treesville, CA 97899"></p>
      			  <p>Address 2:<input type="text" v-model="addressTwoBox" placeholder="Apt Tree"></p>

      				<button v-on:click="createOrder"> Create Order </button>   
				</div> 
    <!--   <div v-for="item in bag">
        <p class="itemname"> {{item.name}} </p>
        <p class="itemname"> ${{item.price}}0 </p>
      </div>
        <div class="itemnametwo">Total: ${{total}} </div>
      <br>
      <div class="bagcheck">

      </div> -->
</nav>




<img id="cuttingboard" src="http://i.imgur.com/n48sy2P.jpg" alt="cuttingboardmealprep.jpg">

<div class="add">
	<div v-for="item in products">
		<div class="container">
			<div class="addtocartform">
				<img v-bind:src="item.image" width="275px" height="350px">
					<p id="add-to-cart" v-on:click="addToBag(item)">Add to Cart</p>	
					<br>
					<p id="editproductform"><h2>{{item.name}}</h2></p>
					<p id="editproductform"><h4><span>Description:</span> {{item.description}}</h4></p>
<!-- 					<p id="add-to-cart" v-on:click="seeCart()">See Cart</p>	
 -->
					<% if current_user && current_user.admin %>
						<div id="editproductform">
							<h2>Edit Product Admin Only</h2>
							<h3 id="alltextboxes">All Text Boxes Must Be Filled</h3>
								<%= form_tag "/products/update", method: :post do %>
							<h4> Name: {{item.name}} <input type="text" name="name" placeholder="update name"> </h4>
							<br>
							<h4 class="small-font"><span>(add image directions)<br> 
									1) Sign into Imgur: FoodByLags. Navigate to your images, top right corner dropdown menu.<br>
									2) Copy 'direct link', located after 'image link', after adding your new image or use an existing image's 'direct link' url.<br>
									3) Paste your image in the image url text box below.</span><br>
								Image URL: {{item.image}} <input type="text" name="image" placeholder="update url"> </h4>
							<br>
							<h4> Product Type: {{item.product_type}} <input type="text" name="product_type" placeholder="update type"> </h4>
							<br>
							<h4> Stock: {{item.stock}} <input type="number" name="stock" placeholder="update stock"> </h4>
							<br>
							<h4> Cost: ${{item.cost}} <input type="text" name="cost" placeholder="update cost"> </h4>
							<br>
							<h4> Description: {{item.description}} <textarea class="longInput" name="description" placeholder="update description" cols="20" rows="2"></textarea>
							<br>
							<h4> Id: {{item.id}} <input type="number" name="id" placeholder="update product's id">
							<br>
							<br>
								<input type="submit" name="Enter">
								<br>
								<% end %>
							<br>
								<div id="delete">
									<%= form_tag "/products/delete", method: :post do %>
										Put product id in box box and submit to delete: <input type="text" name="id" placeholder="product id"><br>
										<input type="submit" name="Enter">
										Product ID: {{item.id}}<br>
									<% end %>
								</div>
						</div>
					<% end %>				
			</div>
		</div>
		<div id="editproductform">
			<h4></h4>
		</div>

	</div>
</div>






<br> 
<br>



<% if current_user %>
	<% if current_user.admin %>
		<h2> New Product Admin Only </h2> 
		<%= form_tag "/products/new", method: :post do %>
			<h4> Name: <input type="text" name="name"> </h4>
			<br>
			<h4 class="small-font"><span>(adding image directions)<br> 
					1) Sign into Imgur: FoodByLags. Navigate to your images, top right corner dropdown menu.<br> 
					2) Copy 'direct link', located after 'image link', after adding your new image.<br>
					3) Paste your image in the image url text box below.</span><br>
					 Image URL: <input type="text" name="image"> </h4>
			<br>
			<h4> Product Type: <input type="text" name="product_type"> </h4>
			<br>
			<h4> Stock: <input type="text" name="stock"> </h4>
			<br>
			<h4> Cost: <input type="text" name="cost"> </h4>
			<br>
			<h4> Description: <textarea class="longInput" name="description" cols="20" rows="7"></textarea>
			<div>
				<input type="submit" name="Enter">
			<br>
			</div>
			<br>
		<% end %>
	<% end %>
<% end %>


<% if current_user %>
	<% if !current_user.admin %>
		<div id="admin_signin">
			<%= button_to "admin signin", "/sessions/admin_signin", method: :get %>
		</div>
	<% end %>

	<div id="logout_buttons">
		<% if current_user %>
			<% if current_user.admin %>
				<%= button_to "Logout", "/signout", method: :get %>

	
			<% end %>	
		<% end %>
	</div>
<% end %>
<br>
<br>
<br>
<% if !current_user %>

		<div id="adminsignin">
			<%= button_to "admin signin", "/sessions/admin_signin", method: :get %>

		</div>
<% end %>